.cards {
  justify-content: center;
  display: flex;
  width: 40em;
}

.card-wrapper {
  overflow-x: hidden;
}

.card-wrapper:last-child {
  flex: 0 0 auto;
}

.player-details {
  display: flex;
  gap: 1em;
}
