.top {
  grid-area: top;
}

.left {
  grid-area: left;
}

.table {
  grid-area: table;
}

.right {
  grid-area: right;
}

.bottom {
  grid-area: bottom;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "top top top"
    "left table right"
    "bottom bottom bottom";
  gap: 10px;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
}

.grid-container > div.space {
  font-size: 0.8rem;
  row-gap: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-container > div.top {
  flex-direction: column-reverse;
}
